@model IEnumerable<Expense_Tracker.Models.Transaction>

@{
  ViewData["Title"] = "Index";
}


<br />

<div class="row">
  <div class="col-6">
    <h2 class="text-info">Transacion List</h2>
  </div>
  <div class="col-6 text-right">
    <a asp-action="Create" class="btn btn-info"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;Add New Transaction</a>
  </div>
</div>
<form method="post">
  <div class="row">
    <div class="col-3">
      <input type="date" class="form-control" name="fdate" />
    </div>
    <div class="col-3">
      <input type="date" class="form-control" name="tdate" />
    </div>
    <div class="col-3">
      <input type="submit" value="Search" class="btn btn-success" />
    </div>
    <div class="col-3"></div>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Category)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Amount)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.ExpenseDate)
      </th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.ExpenseDate)
        </td>

        <td>
          <a asp-action="Edit" asp-route-id="@item.TransactionId">Edit</a> |
          <a asp-action="Details" asp-route-id="@item.TransactionId">Details</a> |
          <a asp-action="Delete" asp-route-id="@item.TransactionId">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>
